<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/pear/css/pear.css" rel="stylesheet" media="screen" />
    @*<link href="~/admin/css/admin.css" rel="stylesheet" />*@
    <script src="~/layui/layui.js"></script>
    <script src="~/pear/pear.js"></script>

</head>

<body class="pear-container">
    @RenderBody()
</body>
</html>
